Mobile stylesheet

HEADER
height: 40px,
background-color: #acd373

LOGO
left(margin or padding): 30px
vertically centered

NAV BUTTON
height: 40px
width: 40px
    Nav icon: center left
    icon background: #89a85c
    icon-nav: vertically/horizontally centered

FIRST SECTION
background color: #9abd67
plus + SILHUET IMAGE

HEADER TEXT
font: source sans pro bold
font-size: 20px
color: #f7f7f7


